body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#slider-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.chart-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#bar-chart-container {
    height: 330px;
}

#scatter-plot-container {
    height: 500px;
}

#color-bar-chart-container {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-bar {
    width: 18%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
}



#selected-country-container {
    text-align: center;
    margin: 10px 0;
}

#selected-country-text {
    font-size: 16px;
    font-weight: bold;
}


#bar-chart-compare {
    height: 400px;
    width:100%;
    margin-top: 20px;
}

#selection-buttons {
    text-align: center;
    margin: 20px 0;
}


#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#button-container button {
    margin-bottom: 5px; 
    padding: 5px 10px;
    cursor: pointer;
}

#current-view {
    margin-left: 30px;
    padding-left: 20px;
    font-size: 14px; 
}

#title-box {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
